
mat-toolbar {
    height: 100px;
    // position: absolute;
    display: flex;
    flex-flow: row wrap;

    .left {
        width: 20%;
    }

    .middle {
        width: 60%;
        ul {
            list-style: none;
        }
        
        li {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .right {
        width: 20%;
    }
    
}